<%= render '/shared/header' %>
<div class="container-fluid" style="background-color: lavender;">
  <div class="row">
    <div class="col-md-3 h-100">
        <img src="images/top_image_1.jpg" width="100%" height="100%">
    </div>
    <div class="col-md-6">
        <h2 class="text-md-center text-center" style="font-size:40px;">めっけた！</h2>
        <div style="padding-top:50px;">
            <p class="text-md-center text-center general_text">動画でより良い日々を</p>
            <p class="text-md-center text-center general_text">このWebサイトは、Youtube動画検索サイトです</p>
            <p class="text-md-center text-center general_text">パソコン操作に不安がある方... 安心してください</p>
            <p class="text-md-center text-center general_text">ここでは簡単に好みの動画を探せるべく</p>
            <p class="text-md-center text-center general_text">シンプルかつ機能的に作られています</p>
            <p class="text-md-center text-center general_text">動画を通してより良い日々を送りましょう！！</p>
        </div>
    </div>
    <div class="col-md-3">
        <img src="images/top_image_2.jpg" width="100%" height="100%">
    </div>
  </div>
</div>
<div>
    <%= link_to "動画を検索する", youtube_search_path, :class =>'button' %>
</div>
