<div class="container">
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8" style="background-color: lavender;">
    	<h2 class="text-md-center">めっけたい</h2>
    	<p class="text-md-center">動画でより良い日々を</p>
    	<p class="text-md-center">このWebサイトは、Youtube動画検索サイトです</p>
    	<p class="text-md-center">パソコン操作に不安がある方... 安心してください</p>
    	<p class="text-md-center">ここでは簡単に好みの動画を探せるべく</p>
    	<p class="text-md-center">シンプルかつ機能的に作られています</p>
    	<p class="text-md-center">動画を通してより良い日々を送りましょう！！</p>
    </div>
    <div class="col-md-2"></div>
  </div>
</div>
