/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";  /*ここを追加*/
@import "bootstrap";

@charset "UTF-8";
/* リセットCSS*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-color: #FDF5E6;
  height: 120px;
}
body {
  background-color: #FDF5E6;
}

/* search_page */
input[type="submit" i] {  /* searchページの検索ボタン*/
  position: relative;
  background-color: #f7d034;
  border-radius: 4px;
  line-height: 50px;
  width:150px;
  box-shadow: 0 3px 0 #f7ba59;
  -webkit-transition: none;
  transition: none;
  font-size: 20px;
}
input[type="submit" i]:hover {  /* searchページの検索ボタンにカーソルが乗った時*/
  top: -4px;
  box-shadow: 0 7px 0 #f7ba59;
}
input[type="submit" i]:active { /* searchページの検索ボタンを押した時*/
  top: 3px;
  box-shadow: none;
}
.general_text{
    font-size: 20px;
    line-height: 160%;
}

.search_container {
  padding-top: 40px;
}
.genres_items {
  margin-left: 30px;
  font-size: 20px;
}
.genres_icon {
  padding-left: 20px;
}
.keyword_items {
  padding-left: 20px;
}
.ranking_name {
  font-size: 30px;
  padding-left: 20px;
}
.searched_container {
  margin-top: 50px;
}
.searched_items_detail {
  padding-left:40px;
}
.searched_items_detail_bottom{
  padding-top: 40px;
}
p {
  font-size: 16px; /* シニア層が見やすい大きさ16px */
}
li {
  font-size: 20px;
  line-height: 100;
}


/* sign_up */
.sign_up_field {
  margin-top: 20px;
}
.sign_up_subject {
  display: inline-block;
  margin-right: 25px;
}
 .sign_up_items{
  display: inline-block;
  font-size:16px;
}
input[type="text"],
     [type="email"]
     [type="date_select"] {
        width: 150px;
        height: 30px;
        font-size: 18px;
    }

select:valid {
  height: 30px;
  width: 150px;
  font-size: 18px;
}

/*sign_in*/
.sign_in_field {
  margin-top: 20px;
}
.sign_in_button {
  width:60px;
}

/* header */
.fas {
  color: green;
}
.header_icon_box {
  width: 150px;
}
.header_text {
  color:green;
}

/* gretel */
.breadcrumbs_text {
  font-size: 16px;
}

/* indexページarrow */
#back {
  position: fixed;
  right: 20px;
  bottom: 20px;
}
#back img {
  width: 50px;
}